# Ignore Visual Studio user-specific files
.vs/
*.user
*.suo

# Ignore build output
bin/
obj/

# Ignore ASP.NET secrets
**/appsettings.Development.json

# Ignore node_modules for React Native
node_modules/

# macOS
.DS_Store